:root {
	--bs-scroll-height: 100%;
}

html {
	scroll-behavior: smooth;
}

.bg-blue {
	background-color: #2c3e50;
}

.bg-green {
	background-color: #1abc9c;
}

.bg-lightblue {
	background-color: #3a546d;
}

.row-big img {
	width: 250px;
}

h3 + p > a {
	color: #1abc9c;
	text-decoration: none;
}

.spacer div {
	display: inline-block;
	width: 40px;
	height: 5px;
}
